.cfInfoDiv{
    width: 100%;
}

.cfTittle{
    color: var(--colorPrimary);
    font-weight: 600; 
}

.cfParraph{
    opacity: .7;
    font-size: .8rem;
}

.cfParraph span{
    font-weight: 600;
}


.cfForm{
    height: 100%;
    width: 100%;
}

.cfForm h5{
    font-weight: 800;
    color: var(--colorWhite);
}


.cfUserData{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    margin-bottom: 1rem;
}


.cfCardData{
    width: 100%;
    display: grid;
    gap: .5rem;
}


.cfCardData section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .3rem;
}


.cfCardData section .imInput:not(:placeholder-shown) + .imLabel{
    padding-left: 0.5rem;
}


.cfBonus .buttonAditional{
    padding:0;    
}


.cfAsideInputs{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    align-items: baseline;
    gap: 0.5rem;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 850px){
    .cfCardData section{
        grid-template-columns: 1fr;
    }
    
    .cfBonus{
        margin-bottom: 3rem;
    }


    .cfAsideInputs{
        grid-template-columns: 1fr;
        margin-bottom: 0rem;
    }
}