.mpInfoDiv{
    width: 100%;
}


.mpTittle{
    color: var(--colorPrimary);
    font-weight: 600; 
}


.mpFormParraph{
    opacity: .7;
    font-size: .8rem;
}

.mpFormParraph span{
    font-weight: 600;
}


.mpForm{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1rem;
}

.mpFormBonusSection .buttonAditional{
    width: 100%;

}


.mpFormButtonSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}