.dashboardUser{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0rem 1rem;
    margin-bottom: 3rem;
    gap: 1rem;
}

.dashboardSection{
    background-color: var(--colorDarkPlus);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    min-height: 32rem;
    height: 100%;
}



@media only screen and (max-width: 850px){
    .dashboardUser{
        grid-template-columns: 1fr;
        padding: .5rem;
    }
}