.buttonInfo{
    background-color: transparent;
    padding: .5em .5em;
    border-radius: 0.3rem;
    border: 1px solid var(--colorBase);
    color: var(--colorBase);
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;    
}

.buttonInfo:hover{
    border: 1px solid var(--colorWhite);
    color: var(--colorWhite);
    cursor: pointer;
}


/* PRIMARY */
.buttonInfoPrimary{
    background-color: transparent;
    padding: .5em .5em;
    border-radius: 0.3rem;
    border: 1px solid var(--colorBase);
    color: var(--colorBase);
    display: flex;
    align-items: center;
    transition: 0.3s ease-out; 
}

.buttonInfoPrimary:hover{
    border: 1px solid var(--colorPrimary);
    color: var(--colorPrimary);
    box-shadow: 0px 0px 5px var(--colorPrimary);
    cursor: pointer;
}
/* PRIMARY */



/* SECONDARY */
.buttonInfoSecondary{
    background-color: transparent;
    padding: .5em .5em;
    border-radius: 0.3rem;
    border: 1px solid var(--colorBase);
    color: var(--colorBase);
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
}


.buttonInfoSecondary:hover{
    border: 1px solid var(--colorSecondary);
    color: var(--colorSecondary);
    box-shadow: 0px 0px 5px var(--colorSecondary);
    cursor: pointer;
}
/* SECONDARY */



/* ACTION */
.buttonInfoAction{
    background-color: transparent;
    padding: .5em .5em;
    border-radius: 0.3rem;
    border: 1px solid var(--colorBase);
    color: var(--colorBase);
    display: flex;
    align-items: center;
    transition: 0.3s ease-out;
}

.buttonInfoAction:hover{
    border: 1px solid var(--colorAction);
    color: var(--colorAction);
    box-shadow: 0px 0px 5px var(--colorAction);
    cursor: pointer;
}
/* ACTION */


@media only screen and (max-width: 850px){
    .buttonInfo, .buttonInfoPrimary, .buttonInfoSecondary, .buttonInfoAction{
        transform: scale(.8);
    }
}