.buttonGradient{
    height: 100%;
    padding: .7rem 3rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: .3rem;
    border: none;
    transition: 0.3s ease-in-out;
    opacity: 1;
    color: var(--colorWhite);
    background-image: linear-gradient(to left,rgba(255,126,71,1), rgba(230,42,0,1),rgba(255,126,71,1));
    background-size: 200%;
    text-decoration: none;
}


.buttonGradient:hover{
    background-position: right;
    cursor: pointer;
}


@media only screen and (max-width: 850px){
    .buttonGradient{
        padding: .7rem;
    }
}