.buttonPlayGame{
    width: 5em;
    height: 5em;
    background-color: var(--colorTransparentDark);
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s ease-out;
}

.buttonPlayGame svg{
    transform: scale(3);
    filter: drop-shadow(0px 0px 3px var(--colorPrimary));
}

.buttonPlayGame:hover{
    background-color: rgba(253, 0, 42, 0.4);
    box-shadow: 0px 0px 30px var(--colorPrimary);
    cursor: pointer;
}


@media only screen and (max-width: 850px){
    .buttonPlayGame{
        transform: scale(.7);
    }
}