.cardGameAccessContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}