.cardGameAccessContainer{    
    display: grid;
    gap: 1rem;
    padding: 0rem 1rem;
    grid-template-columns: 1fr 3fr 1fr 2fr; 
}


.cardGameAccessContainer .releaseGameCard{
    width: 100%;
}

.cardGameAccessContainer .releaseGameCard p{
    font-size: small;
}

.cardGameAccessContainer .principalGameCard{
    width: 100%;
}

@media only screen and (max-width: 850px){
    .cardGameAccessContainer{
        grid-template-columns: 1fr 1fr;
    
    }
    
}
  
  