/* .cardGameAccessContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
} */


.cardGameAccessContainer{    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    grid-template-areas:
    "corto corto corto corto largo largo largo"  
}
  
  
.cardGameAccessContainer .principalGameCard{
    grid-area: corto;
}


.cardGameAccessContainer .releaseGameCard{
    grid-area: largo;
}