.loaderItem{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}


.loaderItem img{
    width: 8rem;
    height: 8rem;
    filter: drop-shadow(1px 1px 10px var(--colorPrimary));
    z-index: 1;
}


.loaderItem h3{
    font-weight: 800;
    text-transform: uppercase;
    font-size: small;
    color: var(--colorWhite);
    padding: .5rem 1rem;
    border-radius: .5rem;
    text-align: center;
    text-wrap: balance;
    position: absolute;
    bottom: 25%;
}


@media only screen and (max-width: 850px){
    .loaderItem h3{
        bottom: 30%;
    }
}