.releaseGameCard{
    width: calc((100% - 1rem) / 2);
    height: 17rem;
    padding: 1rem;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: .5rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 110%;
    transition: transform 0.3s ease-out, background-size 0.5s ease-out;
}

.releaseGameCard:hover{
    /* border:1px solid var(--colorPrimary);
    box-shadow: 0px 0px 7px var(--colorPrimary); */
    background-size: 120%;
}


.rgcContent{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    opacity: 0;
    height: 100%;
    border-radius: 0.5em;
    transition: 0.5s ease-out;
    background-color: rgba(2, 2, 2, .7);
    position: absolute;
    z-index: 1000;
    left: 0;
    user-select: none;
    padding: 1rem
}


.rgcContent:hover{
    opacity: 1;
}


.rgcButtonPrincipal{
    width: 20%;
    height: auto;
    padding: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}


.rgcInfoGameCard{
    width: 100%;
    height: auto;
    padding: .5rem;
    display: flex;
    align-items: self-start;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.rgcInfoGameCard h3{
    font-weight: 600;
    font-size: x-large;
}

.rgcInfoGameCard p{
    opacity: .7;
}


.rgcButtonSection{
        display: flex;
        justify-content: flex-start;
        gap: .5rem;
}



@media only screen and (max-width: 850px){

    .releaseGameCard{
        background-size: cover;
        width: 100%;
    }

    .releaseGameCard:hover{
        background-size: cover;
    }
    
    .rgcButtonPrincipal{
        padding: 0;
        transform: scale(.8);
    }


    .rgcInfoGamesCard{
        width: 100%;
        height: 100%;
    }

    .rgcButtonSection{
        width: 100%;
    }


}

