.searchLensContainer{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
}

.searchLens{
    padding: .7rem;
    display: flex;
    align-items: center;
    font-weight: 600;
    border-radius: .3rem;
    border: none;
    transition: 0.3s ease-in-out;
    opacity: 1;
    background-image: linear-gradient(to left,rgba(255,126,71,1), rgba(230,42,0,1),rgba(255,126,71,1));
    background-size: 200%;
    position: absolute;
    right: 1px;
}


.searchLens:hover{
    background-position: right;
    cursor: pointer;
}

.searchPlace{
    width: 0%;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    transition: .3s ease-in-out;
    border: none;
    border-color:transparent;
    color: var(--colorWhite);  
    background-color: transparent;
    outline: none;
}

.visibleSearchPlace{
    width: 100%;
    background-color: var(--colorTransparentDark);         
    padding: 0.7rem 3.5rem 0.7rem 0.7rem;
    transition: .3s ease-in-out;
    outline: none;
}


@media only screen and (max-width: 880px){
    .searchLensContainer{
        width: 80%;
    }
}