.spgContainer{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.spgContainer h3{
    font-weight: 600;
}

.sectionPromotionalGame{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.spgButtonMoreGames{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.spgButtonMoreGames .buttonAditional{
    text-align: center;
    width: 20%;
}


@media only screen and (max-width: 850px){
    .spgButtonMoreGames .buttonAditional{
        width: 50%;
    }
}