.sliderContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slidePlace{
    overflow: hidden;
    width: 90vw;
    border-radius: .5rem;
    background-color: transparent;
    display: flex;
}

.slidePasarela{
    display: flex;
    cursor: grab;
}

.slideItem{
    min-width: 10rem;
    display: flex;
    gap: 1rem;
    /* overflow: hidden; */
    padding: 0rem .3rem;
}