.softToastRounded{
    width: 6rem;
    height: 6rem;
    background-color: var(--colorDarkPlus);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .3s ease-out;
}

.strTextInformation{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    padding: 0.5rem;
    transition: .3s ease-out;
}

.strTextInformation h4{
    color: var(--colorTransparentLight);
    font-weight: 600;
    font-size: .8rem;
    text-align: center;
    transition: .3s ease-out;
}

.strIcon{
    color: var(--colorTransparentLight);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(2);
    transition: .3s ease-out;
}

.strTextInformation:hover{
    background-color: var(--colorTransparentDark);
    
    .strIcon{
        color:var(--colorPrimary);
    }

    h4{
        color:var(--colorWhite);
    }
}


/* CLASE DISPONIBLE PARA CUANDO EL TOAST QUEDE SELECCIONADO */
.softToastRoundedActive{

    text-decoration: none;

    .strTextInformation{
        background-color: var(--colorTransparentDark);
        border:2px solid var(--colorPrimary);
    }

    .strIcon{
        color:var(--colorPrimary);
    }

    h4{
        color:var(--colorWhite);
    }
}


@media only screen and (max-width: 850px){
    
}