.userPersonalDataCard{ 
    width: 25rem;   
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--colorDarkPlus);
    border-radius: 1rem;
    padding: 2rem;
}

.updcArticle{
 width: 100%; 
}

.updcWelcomeText{
    font-weight: 800;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}


.updcNameData h6{
    color: var(--colorPrimary);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.updcMoneyData{
    position: relative;
    width: 100%;
    border: 1px solid var(--colorWhite);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
}

.updcMoneyData p{
    position: absolute;
    font-size: smaller;
    top: -12px;
    background-color: var(--colorDarkPlus);
    border-radius: 5rem;
    color: var(--colorTransparentLight);
}

.updcMoneyData span{
    color: var(--colorPrimary);
    font-weight: 600;
    font-size: 2rem;
}


.updcDataShort{
    width: 100%;
    border: 1px solid var(--colorTransparentLight);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: .5rem 0rem;
    border-radius: .5rem;
    text-align: center;
}

.updcShortItems{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.1rem;
    padding: 0.5rem;
    color: var(--colorTransparentLight);
    font-size: .8rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: .3s ease-out;
}

.updcShortItems svg{
    transition: .3s ease-out;
}

.updcShortItems h5{
    font-weight: 600;    
    transition: .3s ease-out;
}


.updcShortItems:hover{
    background-color: var(--colorTransparentDark);

    h5{
        color: var(--colorWhite);
    }

    svg{
        color:var(--colorPrimary)
    }
}



/* CLASE DISPONIBLE PARA CUANDO EL TOAST QUEDE SELECCIONADO */
.activeUpcdShortItems{
    background-color: var(--colorTransparentDark);
    border-radius: 0.5rem;
    color: var(--colorWhite);
    text-decoration: none;
    border: 2px solid var(--colorPrimary);

    svg{
        color:var(--colorPrimary)
    }
}


@media only screen and (max-width: 850px){
    .userPersonalDataCard{
        padding: 1rem;
    }

    .userPersonalDataCard{
        width: 100%;
    }

    .updcDataShort{
        padding: .5rem;
    }

}